@{
    bool isLoggedIn = false;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] FitnessNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessNet.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessNet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="App" asp-action="Inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    @if (isLoggedIn)
    {
        <div class="">
            <div class="row mx-2 my-3 d-flex justify-content-center">
                <aside class="col-12 col-lg-2 glass rounded collapse ml-5" id="collapseExample">
                    <div class="text-center p-3">
                        @* <a class="btn btn-primary m-2" asp-controller="App" asp-action="Login">Establecer objetivos</a> *@
                        <a class="btn btn-primary m-2" asp-controller="App" asp-action="Rutina">Rutina</a>
                        @* <a class="btn btn-primary m-2" asp-controller="App" asp-action="Login">Configurar Rutina</a> *@
                        @* <a class="btn btn-primary m-2" asp-controller="App" asp-action="Login">Registrar Avance</a> *@
                        @* <a class="btn btn-primary m-2" asp-controller="App" asp-action="Login">Revisar Avance</a> *@
                        <a class="btn btn-primary m-2" asp-controller="App" asp-action="Ejercicios">Revisar Ejercicios</a>
                        @* <a class="btn btn-primary m-2" asp-controller="App" asp-action="Login">Editar Perfil</a> *@
                        @* <a class="btn btn-primary m-2" asp-controller="App" asp-action="Login">Cerrar Sesión</a> *@
                    </div>
                </aside>
                <main role="main" class="col-12 col-lg-10 glass rounded">
                    <div class="text-center">
                        <div class="p-1 d-flex justify-content-start">
                            <a class="mt-2" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                                Mostrar / Ocultar menú
                            </a>
                        </div>
                        <hr class="mx-1">
                        <div class="py-4">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>
    }

    else
    {
        IgnoreBody();
        <div class="py-5 d-flex justify-content-center">
            <div class="col-10 col-md-6">
                <form>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="user_or_email">Usuario o email</label>
                        <input type="email" id="user_or_email" class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="pass">Contraseña</label>
                        <input type="password" id="pass" class="form-control" />
                    </div>

                    <button type="button" class="text-center btn btn-primary">Iniciar sesión</button>

                    <div class="py-4">
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p>¿Aún no eres usuario? <a asp-controller="App" asp-action="Registrar">Registrarme</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }





    <footer class="border-top footer text-muted">
        <div class="container">&copy; 2023 - FitnessNet</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
