@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h1>Semana del 9 al 15 de enero</h1>

<div class="form-outline mb-4">

    <div class="row d-flex justify-content-center">

        <div class="col-6">
            <label class="form-label" for="diaVisualizar">Selecciona el dia que quieres visualizar</label>
            <div class="input-group mb-3 ">
                <input required type="number" id="diavisualizar" class="form-control" aria-label="dia a visualizar"
                    min="1" max="31">
                <span class="input-group-text">Dia</span>
                <a class="mx-4 btn btn-danger" data-bs-toggle="collapse" data-bs-target="#contenido" href="#contenido"
                    role="button" aria-expanded="false" aria-controls="contenido">
                    Buscar
                </a>
            </div>
        </div>
    </div>


    <div class="container" id="contenido">
        <div class="row my-4 border">
            <div class="col-4">
                <font color="darkmagenta">Calentamiento</font> <br>
                2 series: <br>
                ejercicio 1 20 reps<br>
                ejercicio 9 15 reps<br>
                ejercicio 16<br>
                ejercicio 80 10 reps
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/estiramiento.png" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/ejer.jpg" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/lag.jpg" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/pesas.jpg" alt="..." width="50%" />
            </div>
        </div>
        <div class="row my-4 border">
            <div class="col-4">
                <font color="green">Circuito 1:</font> <br>
                4 series <br>
                Ejericicio1 20reps<br>
                Ejericicio9 20reps
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/estiramiento.png" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/ejer.jpg" alt="..." width="50%" />
            </div>


        </div>
        <div class="row my-4 border">
            <div class="col-4">
                <font color="green">Circuito 2:</font> <br>
                4 series <br>
                Ejericicio1 20reps<br>
                Ejericicio9 20reps
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/estiramiento.png" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/ejer.jpg" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/lag.jpg" alt="..." width="50%" />
            </div>


        </div>
        <div class="row my-4 border">
            <div class="col-4">
                <font color="green">Circuito 3:</font> <br>
                4 series <br>
                Ejericicio1 20reps<br>
                Ejericicio9 20reps
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/estiramiento.png" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/ejer.jpg" alt="..." width="50%" />
            </div>


        </div>
        <div class="row my-4 border">
            <div class="col-4">
                <font color="red">Cardio</font> <br>
                2 series <br>
                saltar la cuerda 10 min <br>
                plancha 4 min
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/estiramiento.png" alt="..." width="50%" />
            </div>
            <div class="col-2">
                <img class="img-fluid" src="~/StaticFiles/images/ejer.jpg" alt="..." width="50%" />
            </div>


        </div>
    </div>

</div>