@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h1>Semana del 9 al 15 de enero</h1>

<table class="table table-borderless">
    <tr>
      <th >Dia 1: Pierna/Pecho</th>
      <th >Dia 2: Brazo</th>
      <th >Dia 3: Pierna</th>
    </tr>
  <tbody>
    <tr>
     
      <td ><font color="darkmagenta">Calentamiento</font> <br>
            2 series: <br>
            ejercicio 1 20 reps<br>
            ejercicio 9 15 reps<br>
            ejercicio 16<br>
            ejercicio 80 10 reps
      </td>
      <td><font color="darkmagenta">Calentamiento</font> <br>
            2 series: <br>
            ejercicio 1 20 reps<br>
            ejercicio 9 15 reps<br>
            ejercicio 16<br>
            ejercicio 80 10 reps</td>
      <td><font color="darkmagenta">Calentamiento</font> <br>
            2 series: <br>
            ejercicio 1 20 reps<br>
            ejercicio 9 15 reps<br>
            ejercicio 16<br>
            ejercicio 80 10 reps
        </td>
    </tr>
    <tr>
     
      <td>
        <font color="green">Circuito 1:</font> <br>
            4 series <br>
                Ejericicio1 20reps<br>
                Ejericicio9 20reps

      </td>
      <td>
        <font color="green">Circuito 1:</font> <br>
            4 series <br>
                Ejericicio1 20reps<br>
                Ejericicio9 20reps</td>
      <td>
        <font color="green">Circuito 1:</font> <br>
            4 series <br>
                Ejericicio1 20reps<br>
                Ejericicio9 20reps</td>
    </tr>
    <tr>
     
      <td>
        <font color="blue">Circuito 2:</font> <br>
        4 series <br>
             ejercicio 1 20 reps <br>
             ejercicio 9 15 reps <br>
             ejercicio 2 15 reps 


      </td>
      <td>
        <font color="blue">Circuito 2:</font> <br>
       4 series <br>
             ejercicio 1 20 reps <br>
             ejercicio 9 15 reps <br>
             ejercicio 2 15 reps 
</td>
    <td>
        <font color="blue">Circuito 2:</font> <br>
        4 series <br>
             ejercicio 1 20 reps <br>
             ejercicio 9 15 reps <br>
             ejercicio 2 15 reps 

             </td>
    </tr>
    <tr>
    <td>
        <font color="darkorange">Circuito 3:</font> <br>
        4 series <br>
             ejercicio 1 20 reps <br>
             ejercicio 9 15 reps
      </td>
      <td>
        <font color="darkorange">Circuito 3:</font> <br>
        4 series <br>
             ejercicio 1 20 reps <br>
             ejercicio 9 15 reps
        </td>
    <td>
        <font color="darkorange">Circuito 3:</font> <br>
        4 series <br>
             ejercicio 1 20 reps <br>
             ejercicio 9 15 reps
    </td>
    </tr>
    <tr>
    <td>
        <font color="red">Cardio</font> <br>
        2 series <br>
             saltar la cuerda 10 min <br>
             plancha 4 min         
      </td>
      <td>
        <font color="red">Cardio</font> <br>
        2 series <br>
             saltar la cuerda 10 min <br>
             plancha 4 min
        </td>
    <td>
        <font color="red">Cardio</font> <br>
        2 series <br>
             saltar la cuerda 10 min <br>
             plancha 4 min
    </td>
    </tr>
    
  </tbody>
</table>
<button type="button" class="btn btn-outline-warning">Guardar como mi rutina</button>
<button type="button" class="btn btn-outline-warning">Restablecer parametros iniciales</button>